.navbar{
  width:200px;
  height:900px;
  background-color:bisque;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:black;
}
.layout{
  width:100vw;
  height:100vh;
  display:grid;
  grid-template-columns: 15% 85%;
  margin:0px;
  padding:0px;
  background-color: darkgray;
}
.Sidebar
{ 
  height:100%;
  width:13rem;
  background-color: #2f4050;

}
.SidebarList
{
  height:auto;
  padding:0;
  width:100%;
}

.row
{
  width:100%;
  height:60px;
  list-style-type:none;
  margin:0%;
  display:flex;
  flex-direction:row;
  color:white;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.tasklist
{
   width:100%;
   color:black;
   font-size: 20px;
}
input
{
  font-size:30px;
  border-radius: 5px;
}
.text{
  font-size:30px;

}
button{
  font-size: 25px;
  background-color:burlywood;
  color:black;
  border-radius: 10px;
}
